@font-face {
  font-family: SignPainter;
  src: url('../fonts/signpainter.ttf');
}

.menu {
  font-family: Arial;
  min-width  : 400px;
  color      : white;
  position   : absolute;
}

span {
    font-family: SignPainter;
    font-size: 50px;
    padding: 0 40px 0 40px;
    position: relative;
    top: 35px;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%);
}

.menu.align-top-left {
  left: 40;
  top : 90;
}

.menu.align-top {
  left: 50%;
  top : 90;
  transform: translate(-50%, 0);
}

.menu.align-top-right {
  right: 10;
  top  : 90;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%);
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0);
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%);
}

.menu .head {
    text-align: center;
    background: linear-gradient(to bottom left, #f47448, #d94442);
    height          : 100px;
    line-height     : 40px;
}

.space {
    height: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu .menu-items {
    max-height : 520px;
    overflow-y : hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  font-size: 20px;
  /*background-color: #f1f1f1;*/
  /*box-shadow      : inset 1px 0px 0px 1px #b8b8b8;*/
  height          : 40px;
  line-height     : 40px;
  color           : white;
  text-align      : left;
  padding: 0 8px 0 8px;
}

.menu .menu-items .menu-item.selected {
  background-color: #f46748;
}
