@font-face {
  font-family: SignPainter;
  src: url('../fonts/SignPainter.ttf');
}

.menu {
  font-family: Arial;
  position   : absolute;
  left       : 50%;
  top        : 50%;
  transform  : translate(-50%, -50%);
  overflow-y : hidden;
  max-height : 90%;
}

.menu button {
  font-family: Arial;
}

.menu > table {
  border-spacing  : 0;
  min-width       : 400px;
}

.menu > table > thead {
  background: linear-gradient(to bottom left, #f47448, #d94442);
  text-align      : center;

  line-height     : 40px;
  color           : #fff;
}

.menu > table > thead > tr > td {
    font-family: SignPainter;
    font-size: 50px;
    padding: 0 40px 0 40px;
    position: relative;
    top: 6px;
    height          : 100px;
}

.menu tbody td {
  text-align: left;
  font-size: 20px;
  padding: 8px;
  color: white;
}

.menu tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.6);
}
